<h2>編集</h2>
<form method="post" action="/edit/<%= @id %>">
  <input hidden name="_method" value="PATCH">
  <input hidden name="id" value="<%= @id %>">
  <input type="text" name="title" value="<%= @title %>">
  <input type="textarea" name="content" value="<%= @content %>">
  <input type="submit" value="保存">
</form>
