<form class="edit-form__items" method="post" action="/new">
  <div class="edit-form__item">
    <label class="edit-form__label">題名</label>
    <input class="edit-form__title" type="text" name="title">
  </div>
  <div class="edit-form__item">
    <label class="edit-form__label">メモ</label>
    <textarea class="edit-form__content" name="content"></textarea>
  </div>
  <div class="edit-form__item">
    <label class="edit-form__label"></label>
    <div class="edit-form__actions">
      <a class="edit-form__cancel" href="/">キャンセル</a>
      <input class="edit-form__submit" type="submit" value="保存">
    </div>
  </div> 
</form>
